<footer class="footer" data-background-color="black">
  <div class="container">
    <nav>
      <div class="d-flex flex-wrap-reverse">
        <div class="p-2">
          <a href="{{ .Site.BaseURL | relURL }}" target="_self">
            Middle Eastern International Financial Group LLC &copy; 2017
          </a>
        </div>
        <div class="ml-auto p-2">
	        <ul>
	          {{ range .Site.Menus.footer }}
            <li>
              <a href="{{ .URL | relURL }}">{{ .Pre }} {{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</footer>
