<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-sm-12 nav-header-col">
        {{ .Params.pillcardheader | markdownify }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 nav-headernav-col">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          {{ .Params.pillcardsidetab | markdownify }}
        </div>
      </div>
      <div class="col-sm-9">
        <div class="tab-content" id="v-pills-tabContent">
          {{ .Params.pillcardcontent | markdownify }}
        </div>
      </div>
    </div>
  </div>
</div>
