/*
Changing Section background to transparent instead of white
*/
.section {
    background: transparent;
    padding-top: 80px;
    padding-bottom: 0px;
}
.page-header{
    max-height: none;
}
/*
change font and anchor properties Here
*/
.nav-link-contact{
  color:white;
}

/*
change color and styling for tabbed cards
*/

.nav-tabs > .nav-item > .nav-link {
    color: black;
}
/*
body{
  color: white;
}
*/
.card{
    background-color: rgba(255,255,255,0.7);
/*    box-shadow: none; */
    margin-bottom: 0;
}

/*
Changing website background to fixed instead of scrolling white
*/
.page-header .page-header-image {
    position: fixed;
}

/*
Menu link font size
*/
.navbar .navbar-nav .nav-link:not(.btn) {
    font-size: 1.2em;
}

.site-nav-logo{
    width:70%;
}
/*
contact page content
*/
.content-contact-left {
    position: relative;
 /*     top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
    text-align: left;
    padding: 0 15px;
    color: #FFFFFF;
    width: 100%;
    max-width: 1140px; }
.nav-pills a{
  font-size: 1.5em;
}

.nav-pills .nav-link.active, .show>.nav-pills .nav-link {
    background-color: rgba(128,128,128,0.5);
}

.wrapper {
  background:rgba(0, 0, 0, 0.1);
	min-height: 100vh;
  width:  100%;
}

.footer nav{
  width:100%;
}

/*
page header height adjustment
*/
.page-header.page-header-small {
    height: 5vh;
}

.profile-page .page-header {
    min-height: 0px;
}
/*
form background colour for textbox as it is not obvious enough
*/
textarea.form-control {
    border: 1px solid #E3E3E3;
}

/*
contact page address styles
*/
.icon.icon-primary {
    color: white;
}
.info-horizontal .icon {
    float: left;
}
.description, .card-description, .footer-big p {
    color: white;
    font-weight: 300;
}

.icon-contact-resize{
  font-size: 50px;
  margin-top: 5px;
}

.info-title{
   margin-bottom: 0;
}

.description p, p.description {
    font-size: 1em;
}
/*
font style here
*/

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
}

.footer{
    background: transparent;
    color: white;
    text-align: center;
    padding-top: -80px;
}

.form-control{
  color: white;
}


.navbar-default .navbar-nav {
  margin-top:40px; /*---*/
}


/* extra padding for paragraphs in cards */
.card p, .card h1, .card h2, .card h3, .card h4, .card h5, .card h6{
  padding: .5rem 1rem;
  margin-bottom: 5px;
}

/* adding bottom border to vertical tab cards head*/
.nav-header-col{
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.nav-headernav-col a{
  color:black;
}

.navbar{
  background-color: #133044;
}

.nav-link-contact:hover{
  color:white;
  background-color: rgba(255,255,255,0.1);
}
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  .footermenuright{
    margin-left: auto!important;
  }
  .section {
      min-height: 87vh;
  }
  .card, .nav-col {
      min-height: 78.5vh;
  }
  .nav-header-col {
      min-height: 12vh;
  }
  .nav-headernav-col {
      min-height: 66.5vh;
      padding-right: 0px;
  }
  /* adding right border to vertical tab cards on big screens only*/
  .nav-col, .nav-headernav-col{
    border-right-style: solid;
    border-right-width: 1px;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .footermenuright{
    margin-left: auto!important;
  }
  .section {
      min-height: 81vh;
  }
  .card, .nav-col {
      min-height: 71.5vh;
  }
  .nav-header-col {
      min-height: 20vh;
  }
  .nav-headernav-col {
      min-height: 51.5vh;
      padding-right: 0px;
  }
  /* adding right border to vertical tab cards on big screens only*/
  .nav-col, .nav-headernav-col{
    border-right-style: solid;
    border-right-width: 1px;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px)and (orientation:portrait) {

  .footermenuright{
    margin-left: auto!important;
  }
  .section {
      min-height: 87vh;
  }
  .card, .nav-col {
      min-height: 79vh;
  }
  .nav-header-col {
      min-height: 10vh;
  }
  .nav-headernav-col {
      min-height: 68.5vh;
      padding-right: 0px;
  }
  /* adding right border to vertical tab cards on big screens only*/
  .nav-col, .nav-headernav-col{
    border-right-style: solid;
    border-right-width: 1px;
  }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .footermenuright{
    margin-left: auto!important;
  }
  .section {
      min-height: 83.9vh;
  }
  .card, .nav-col {
      min-height: 72.8vh;
  }
  .nav-header-col {
      min-height: 15vh;
  }
  .nav-headernav-col {
      min-height: 57.8vh;
      padding-right: 0px;
  }
  /* adding right border to vertical tab cards on big screens only*/
  .nav-col, .nav-headernav-col{
    border-right-style: solid;
    border-right-width: 1px;
  }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape){
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) and (orientation:portrait) {
  .footermenucenter{
    justify-content: center;
  }
  .btn-sm{
    width: 100%;
  }
  .section, .card {
      min-height: 64vh;
  }
  /* adding right border to vertical tab cards on small screens only*/
  .nav-col, .nav-headernav-col{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-right: 0px;
  }
}
