/*
Changing Section background to transparent instead of white
*/
.section {
    background: rgba(0,0,0,0.5);
    padding-top: 80px;
    padding-bottom: 0px;
}
.page-header{
    max-height: none;
}
/*
change font and anchor properties Here
*/
.nav-link-contact{
  color:white;
}

/*
change color and styling for tabbed cards
*/

.nav-tabs > .nav-item > .nav-link {
    color: black;
}
/*
body{
  color: white;
}
*/
.card{
    background-color: rgba(255,255,255,0.7);
/*    box-shadow: none; */
    margin-bottom: 0;
}

/*
Changing website background to fixed instead of scrolling white
*/
.page-header .page-header-image {
    position: fixed;
}

/*
Menu link font size
*/
.navbar .navbar-nav .nav-link:not(.btn) {
    font-size: 1.2em;
}

.site-nav-logo{
    width:70%;
}
/*
contact page content
*/
.content-contact-left {
    position: relative;
 /*     top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
    text-align: left;
    padding: 0 15px;
    color: #FFFFFF;
    width: 100%;
    max-width: 1140px; }

.wrapper {

	height: 100%;
  width:  100%;
}

.footer nav{
  width:100%;
}

/*
page header height adjustment
*/
.page-header.page-header-small {
    height: 5vh;
}

.profile-page .page-header {
    min-height: 0px;
}
/*
form background colour for textbox as it is not obvious enough
*/
textarea.form-control {
    border: 1px solid #E3E3E3;
}

/*
contact page address styles
*/
.icon.icon-primary {
    color: white;
}
.info-horizontal .icon {
    float: left;
}
.description, .card-description, .footer-big p {
    color: white;
    font-weight: 300;
}

.icon-contact-resize{
  font-size: 50px;
  margin-top: 5px;
}

.info-title{
   margin-bottom: 0;
}

.nav-pills .nav-link.active, .show>.nav-pills .nav-link {
    background-color: #384156;
}

.description p, p.description {
    font-size: 1em;
}
/*
font style here
*/

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
}

@media screen and (max-width: 760px) {
  .footermenucenter{
    justify-content: center;
  }
  .btn-sm{
    width: 100%;
  }
  .section {
      min-height: 75vh;
  }
  .card {
      min-height: 75vh;
  }
}

@media screen and (min-width: 761px) {
  .footermenuright{
    margin-left: auto!important;
  }
  .section {
      min-height: 80vh;
  }
  .card {
      min-height: 63vh;
  }
}
.footer{
    background: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    padding-top: -80px;
}
