/* =========================================================
 * Homepage carousel positioning and background
 */

.page-header-home{
    height:auto;
}
 .carousel-indicators {
     position: fixed;
     bottom: 20%;
 }

.carousel-inner li:hover{
  cursor: pointer;
}

 .carousel-indicators-numbers li {
      text-align: center;
      text-indent: 0;
      margin: 5px 2px;
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 100%;
      line-height: 30px;
      color: black;
      background-color: #999;
      transition: all 0.25s ease;
      &.active, &:hover {
        margin: 0 2px;
        width: 30px;
        height: 30px;
        background-color: #337ab7;
      }
}

.carousel-item {
    position: fixed;
    width: 100%; height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    flex-basis: 100%;

}
.carousel .onebg {
background: linear-gradient(rgba(0, 0, 0, 0.1),
                            rgba(0, 0, 0, 0.1)),
                            url(../img/home/slide1f.jpg);
    background-size: cover;
    -moz-background-size: cover;
    position: absolute;
    width:100%;
    height:100%;
}

.carousel .twobg {
background: linear-gradient(rgba(0, 0, 0, 0.1),
                            rgba(0, 0, 0, 0.1)),
                            url(../img/home/slide2.jpg);
    background-size: cover;
    -moz-background-size: cover;
    position: absolute;
    width:100%;
    height:100%;
}
.carousel .threebg {
background: linear-gradient(rgba(0, 0, 0, 0.1),
                            rgba(0, 0, 0, 0.1)),
                            url(../img/home/slide3b.jpg);
    background-size: cover;
    -moz-background-size: cover;
    position: absolute;
    width:100%;
    height:100%;
}
.carousel .fourbg {
background: linear-gradient(rgba(0, 0, 0, 0.1),
                            rgba(0, 0, 0, 0.1)),
                            url(../img/home/slide4b.jpg);
    background-size: cover;
    -moz-background-size: cover;
    position: absolute;
    width:100%;
    height:100%;
}

.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}

.homefooter{
    background: rgba(0,0,0,0);
    position:fixed;
    bottom:0;
    width: 100%;
}

.homesection{
  min-height:0;
  padding: 0 0 0 0;
}
/* =========================================================
 * End of homepage carousel positioning and background section
 */

/*
Homepage carousel content
*/
.page-header .container > .content-left {
    position: absolute;
    top: 20%;
 /*   left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
    text-align: left;
    padding: 0 15px;
    color: #FFFFFF;
    width: 100%;
}
/*
Homepage carousel header font
*/

@media screen and (max-width: 576px) {
    .home-header1 {
        font-size: 13vw;
    }
    .home-p1 {
        font-size: 4vw;
    }
}

@media screen and (min-width: 768px) {
    .home-header1 {
        font-size: 7vw;
    }
    .home-p1 {
        font-size: 2vw;
    }
}

@media screen and (min-width: 1200px) {
  .home-header1 {
      font-size: 4vw;
  }
  .home-p1 {
      font-size: 2vw;
  }
}

.footer a{
  color:white;
}
