<!doctype html>
<html lang="en">

  {{partial "head" . }}

<body class="home-page sidebar-collapse">

  {{ partial "nav" . }}
    <div class="wrapper">
      <div class="page-header page-header-home" filter-color="{{.Params.tint}}">
        <div class="page-header-image" style="background-image:url('{{ .Params.background }}');">
        </div>
        {{ .Content }}
      </div>

    </div>
    <div class="section homesection">
      {{ partial "footer" . }}
    </div>
</body>

{{partial "javascript" . }}

</html>
